@charset "UTF-8";

@font-face {
  font-family: 'Post No Bills Jaffna';
  src: url("../fonts/PostNoBillsJaffna-SemiBold.woff") format("woff2"), url("../fonts/PostNoBillsJaffna-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Обнувления */

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Обнувления END*/

/* Обший */

body {
  color: #ffffff;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0px auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content {
  background-color: #000000;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

.section-btn {
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-flex-item-align: center;
  align-self: center;
  background: transparent;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column .item {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column .item__img {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #191B1C;
}

.column .item__title {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  margin: 25px 0px 10px;
  overflow: hidden;
}

.column .item__price {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  margin-top: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .input,
.form .button {
  padding: 10px 20px;
}

.form .input {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  color: #969696;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

.form .button {
  letter-spacing: 0.05em;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.form .button:hover {
  background-color: rgba(15, 15, 15, 0.7);
}

/* Обший END*/

/* header */

.header__top {
  background-color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__top-list-item {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #969696;
  display: inline-block;
  padding: 0px 15px;
}

.header__top-list-item + .header__top-list-item {
  border-left: 1px solid #969696;
}

.header__top-list-item.phone {
  background: url("../img/icon/phone.svg") no-repeat left 80%;
  padding-left: 30px;
}

.header__top-list-item.phone a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.header__top-link-group {
  background: url("../img/icon/log-in.svg") no-repeat left 80%;
  padding-left: 20px;
}

.header__top-link {
  font-family: 'PT Sans', sans-serif;
  color: #969696;
  font-size: 13px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.header__top-link:hover {
  color: #fff;
}

.header__top-link + span {
  color: #969696;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
}

.header__bottom {
  background-color: #0F0F0F;
  position: relative;
}

.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__bottom-logo {
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__bottom-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
}

.header__bottom-menu-btn {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.header__bottom-menu-btn::before,
.header__bottom-menu-btn::after,
.header__bottom-menu-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.header__bottom-menu-btn::before,
.header__bottom-menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
}

.header__bottom-menu-btn::before {
  top: 0;
}

.header__bottom-menu-btn::after {
  bottom: 0;
}

.header__bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom-menu-item {
  padding: 20px 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__bottom-menu-item.active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #1F1F1F;
}

.header__bottom-menu-item:not(.active):hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #181717;
}

.header__bottom-menu-item-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__bottom-link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.header__bottom-link {
  cursor: pointer;
}

.header__bottom-link:first-child {
  margin-right: 40px;
}

.header__bottom-link .top-icon path {
  fill: #fff;
}

.header__bottom-link:hover .top-icon path {
  fill: #969696;
}

/* header END */

/* home */

.home {
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url("../img/first-bg.jpg");
  background: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url("../img/first-bg.jpg");
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url("../img/first-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  background-size: cover;
}

.home__info {
  max-width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px auto;
  border: 4px solid #FFFFFF;
  margin-bottom: 80px;
}

.home__info-title {
  font-size: 64px;
  font-weight: 700;
  font-family: 'Post No Bills Jaffna', sans-serif;
  border-bottom: 2px solid #fff;
}

.home__info-subtitle {
  font-size: 22px;
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.home__text {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  line-height: 150%;
  width: 55%;
  margin: 0px auto;
}

/* home END */

/* colection */

.colection {
  padding-top: 0px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.colection .section-title {
  margin-bottom: 80px;
}

.colection .section-title::after {
  bottom: -37px;
}

.colection__item {
  padding: 70px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.colection .sezon,
.colection .colec-desc {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}

.colection .colec-desc__text {
  width: 50%;
  text-align: center;
  margin-bottom: 60px;
}

.colection__column {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px -15px;
}

.colection__column-item {
  padding: 0px 15px;
}

.colection .new-colection,
.colection .brown {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 500px;
  max-height: 660px;
}

.colection .new-colection {
  background-image: url("../img/people-one.jpg");
}

.colection .new-colection__title {
  margin-top: auto;
}

.colection .brown {
  background-image: url("../img/people-two.jpg");
}

/* colection END*/

/* goods */

.goods {
  padding-bottom: 90px;
}

.goods__title {
  margin-bottom: 120px;
}

.goods__title::after {
  bottom: -40px;
}

.goods__column-item {
  margin-bottom: 40px;
}

/* goods END*/

/* brands */

.brands {
  background-color: #0F0F0F;
  padding-top: 78px;
  padding-bottom: 78px;
}

.brands__title {
  margin-bottom: 100px;
}

.brands__title::after {
  bottom: -50px;
}

.brands__column-item {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
}

/* brands END*/

/* last */

.last {
  padding-top: 78px;
  padding-bottom: 78px;
  background: url("../img/bottom-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.last .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.last__item-title {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

.last__item-text {
  font-weight: 400;
}

.last__item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.last__item-column-list {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #D0D0D0;
  padding: 10px 20px;
  background: #0F0F0F;
  margin-bottom: 20px;
  margin-right: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.last__item-form {
  margin-top: 40px;
}

/* last END*/

/* footer */

.footer {
  background-color: #0F0F0F;
  padding: 17px 0px;
}

.footer__text {
  font-size: 12px;
  color: #D0D0D0;
  font-family: 'PT Sans', sans-serif;
}

/* footer END*/

@media (min-width: 1680px) {
  .colection__column {
    width: 80%;
  }
}

@media (max-width: 1350px) {
  .colection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .colection .brown {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

@media (max-width: 1200px) {
  .brands__column {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .last .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .last__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .header__bottom-menu-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    top: 57px;
    right: 0;
    padding: 30px;
    background-color: #0F0F0F;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
  }

  .header__bottom-menu-wrap.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .header__bottom-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__bottom-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__bottom-link-group {
    margin-left: 0;
  }

  .home__text {
    width: 80%;
  }

  .goods__column {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .colection .colec-desc__text {
    width: 78%;
  }
}

@media (max-width: 768px) {
  .section {
    padding-top: 78px;
    padding-bottom: 78px;
  }

  .section.colection {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__top {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .header__top.active {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    overflow: auto;
  }

  .header__top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__top-list {
    text-align: center;
  }

  .header__top-list-item {
    margin-bottom: 10px;
    padding: 0px 10px;
  }

  .header__top-list-item:last-child {
    border-left: none;
  }

  .last .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .last__item-text {
    max-width: 90%;
  }
}

@media (max-width: 735px) {
  .colection__column-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 30px;
  }
}

@media (max-width: 520px) {
  .colection .colec-desc__text {
    width: 96%;
  }
}

@media (max-width: 400px) {
  .home__text {
    width: 95%;
  }

  .last__item-text {
    max-width: 100%;
  }

  .last__item-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 40px auto 0px;
    text-align: center;
  }

  .last__item-form .button {
    margin-top: 10px;
  }
}